<! DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin="" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">        
        <link rel="stylesheet" href="{{ url_for('static', filename = 'app.css') }}">
        </link>
        <title>Redis 6.2 GEOSEARCH Demo</title>
    </head>

    <body>
        <header class="container is-fluid  mt-4 header-section">
            <img src="../static/redis-favicon-48x48.png" alt="Redis Logo" class="logo" height="48" width="48">
            <h1 class="title is-4 is-right pd-0 mt-2">Redis 6.2 GEOSEARCH Example (click map to start)</h1>
        </header>
        <main class="section">
        <div class="notification is-danger" id="errorMessage" hidden>
            <button class="delete" id="dismissError"></button>
            Please click on the map to set lat/long then choose radius or box and enter a radius or box height and width!
          </div>
        <div id="form-control">
        <div class="field is-horizontal test form-border">
            <form class="field-body ">
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="text" placeholder="latitude" id="latitude" readonly>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="text" placeholder="longitude" id="longitude" readonly>
                    </p>
                </div>
                <div class="field">
                    <div class="select">
                        <select id="searchType">
                            <option>Radius</option>
                            <option>Box</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="text" placeholder="radius (mi)" id="radius">
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="text" placeholder="height (mi)" id="height" readonly>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="text" placeholder="width (mi)" id="width" readonly>
                    </p>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" id="searchBtn" role="button">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
        </div>
        <div id="mapid"></div>
    </main>
        <footer class="footer content mb-0">
           <h3 class="is-size-3 mb-2">Resources</h3>
           <div class="block ">
               <a href="https://university.redis.com"  target="_blank" rel="noopener ">Learn More At Redis University</a>
           </div>
           <div class="block">
               <a href="https  ://https://github.com/redis-developer/introducing-the-geosearch-command/" target="_blank" rel="noopener ">Check Out The Source Code on GitHub</a>
           </div>
           <div class="block">
               <a href="https://redis.io/commands/geosearch" target="_blank" rel="noopener ">Head Over To The Redis GEOSEARCH Command Page</a>
           </div>
        </footer>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'app.js') }}"></script>
    </body>

    </html>